@import "{}/imports/plugins/included/default-theme/client/styles/main.less";

.materialtheme {
  min-height: 500px;
  background-color: #efefef;
  padding: 10px;
  overflow: hidden;
  flex-grow: 1;
}

.page #main {
  overflow: hidden;
}

.cart-icon {
  background-color: #00bcd4;
}
