@import "{}/imports/plugins/included/default-theme/client/styles/main.less";

.page #main {
  overflow: hidden;
}

.cart-icon {
  background-color: #00bcd4;
  padding-right: 40px;
}

.badge {
  margin-right: 8px;
}

.row {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}
