@import "{}/imports/plugins/included/default-theme/client/styles/main.less";

.page #main {
  overflow: hidden;
}

.cart-icon {
  background-color: #00bcd4;
  padding-right: 40px;
}

.badge {
  margin-right: 8px;
}

.row {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}

.mainStyles {
  padding-left: 10px;
}

main {
    min-height: 0;
}

.rui.list-group-item {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.panel-body {
    padding: 5px;
    min-width: 140px;
}

.panel-group {
    min-width: 145px;
}

.rui.card-header.expandable .expander {
    position: absolute;
    bottom: -1.5rem;
}

.list-group {
    margin-bottom: 10px;
}

.container-main {
    box-sizing: content-box;
    padding: 10px;
}

.product-grid-item .product-grid-item-images {
    height: 250px;
}

.product-grid-item {
    margin-bottom: 0px;
}
