<template name="customProductGrid">
  <div class="container-main">
    <div class="row">

      <div class="col-md-3">
        <h1>Testing Testing</h1>
      </div>

      <div class="col-md-9">
        <div class="product-grid">
          <ul class="product-grid-list list-unstyled" id="product-grid-list">
            {{#each products}}
              {{> productGridItems}}
            {{else}}
              <div class="row">
                <div class="text-center">
                  <h3>
                    <span data-i18n="app.noProductsFound">No Products Found</span>
                  </h3>
                </div>
              </div>
            {{/each}}
          </ul>
        </div>
      </div>

    </div>
  </div>
</template>
